@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "YoutubeDL";
}

<div class="container" id="containerInput">
    <div class="row">
        <form class="form-horizontal col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1" method="post" action=".?handler=newTask">
            @Html.AntiForgeryToken()

            <div class="input-group">
                <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=" id="inputDownload" name="Url" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="formatDisplay">
                        <span class="glyphicon glyphicon-film"></span>
                        <span id="formatName">MP4</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="formatSelection">
                        <!-- Video -->
                        <li class="dropdown-header"><span class="glyphicon glyphicon-film"> Video:</span></li>
                        <li><a href="#" class="video_mp4">MP4</a></li>
                        <li><a href="#" class="video_flv">FLV</a></li>
                        <li><a href="#" class="video_ogg">OGG</a></li>
                        <li><a href="#" class="video_webm">WEBM</a></li>
                        <li><a href="#" class="video_mkv">MKV</a></li>
                        <li><a href="#" class="video_avi">AVI</a></li>

                        <!-- Audio -->
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header"><span class="glyphicon glyphicon-music"> Audio:</span></li>
                        <li><a href="#" class="audio_mp3">MP3</a></li>
                        <li><a href="#" class="audio_aac">AAC</a></li>
                        <li><a href="#" class="audio_flac">FLAC</a></li>
                        <li><a href="#" class="audio_opus">OPUS</a></li>
                        <li><a href="#" class="audio_vorbis">VORBIS</a></li>
                        <li><a href="#" class="audio_wav">WAV</a></li>
                    </ul>
                </div>

                <input type="hidden" name="VideoFormat" value="mp4" />
                <input type="hidden" name="AudioFormat" value="none" />

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary" id="buttonDownload">Download</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="container-fluid">
    <div class="fileHeader">
        <h2>Files</h2>
        <a href="." class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>
    </div>
</div>

<div class="panel-group" id="fileEntries" role="tablist">
    <div id="filesTextContainer" class="text-center" @(Model.DownloadTasks.Any() ? "hidden=hidden" : null)>
        <h4>No files available.</h4>
    </div>

    @{
        var linkQueued = "Link queued...";
        var wsWaiting = "Waiting for WS";
        var downloaderErrror = "Download failed. See the logs for further information.";

        foreach (var task in Model.DownloadTasks)
        {
            <div class="panel panel-default @(task.HadDownloaderError? "panel-danger" : null)" id="fileEntry_@task.Id">
                <div class="panel-heading" role="tab" id="heading_@task.Id">
                    <div class="listHeader">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#heading_@task.Id" href="#body_@task.Id">
                                <span class="glyphicon glyphicon-@(task.DownloadResult.Any()? "chevron-down" : "minus")"></span>
                                @task.Url
                            </a>
                        </h4>
                        <div id="containerDownloadInfo_@task.Id" class="downloadInfoContainer">
                            <!-- Container for any information that should be displayed to the user on the right side. -->
                            <div id="containerDownloadInfoText_@task.Id" @(task.WasDownloaded ? "hidden=hidden" : null)>
                                <div class="listHeader">
                                    <div style="vertical-align:middle" class="infoTextContainer">
                                        @{

                                            if (task.HadDownloaderError)
                                            {
                                                @downloaderErrror
                                            }
                                            else
                                            {
                                                @(Model.RecentlyAddedTaskIdentifier == task.Id ? linkQueued : wsWaiting)
                                            }
                                        }
                                    </div>
                                    <div @(task.HadDownloaderError ? "hidden=hidden" : null)>
                                        <img src="~/images/loading.gif" class="pull-right loadingGif" />
                                    </div>
                                </div>
                            </div>
                            <div id="containerDownloadInfoButtonDownload_@task.Id" @(task.WasDownloaded && task.DownloadResult.Count(x => !x.HasError) >= 2 ? null : "hidden=hidden")>
                                <a href="./download?taskIdentifier=@task.Id" class="btn btn-primary btn-sm" style="color:white">Download as .zip</a>
                            </div>
                            <form method="post" action=".?handler=deleteTask">
                                @Html.AntiForgeryToken()

                                <button type="submit" class="btn btn-danger pull-right downloadDeleteButton" name="RemoveTaskId" value="@task.Id">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="body_@task.Id" class="panel-collapse collapse @(task.DownloadResult.Any()? "in" : null)" role="tabpanel">
                    <div class="panel-body">
                        <ul class="list-group">
                            <!-- TemplateFileSubEntries can be added here -->
                            @{
                                foreach (var result in task.DownloadResult)
                                {
                                    <li class="list-group-item @(result.HasError? "list-group-item-danger" : null)" id="fileSubEntry_@result.Id">
                                        <div class="fileSubEntry">
                                            <span>@(result.HasError ? result.Message : result.Name)</span>
                                            <div id="containerDownloadInfoText_@result.Id" @(result.WasDownloaded ? "hidden=hidden" : null)>
                                                <div class="listHeader">
                                                    <div style="vertical-align:middle" class="infoTextContainer">@wsWaiting</div>
                                                    <img src="~/images/loading.gif" class="pull-right loadingGif" />
                                                </div>
                                            </div>
                                            <div id="containerDownloadInfoProgress_@result.Id" class="downloadInfoProgress" hidden="hidden">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:1%;">1%</div>
                                                </div>
                                            </div>
                                            <div id="containerDownloadInfoButtonDownload_@result.Id" @(result.WasDownloaded && !result.HasError ? null : "hidden=hidden")>
                                                <a href="./download?taskIdentifier=@task.Id&taskResultIdentifier=@result.Id" class="btn btn-primary btn-sm" style="color:white">Download</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }

    <!-- Templates used by JQuery for generating the list of downloadable files -->
    <div hidden="hidden">
        <div class="panel panel-default" id="templateFileEntry">
            <div class="panel-heading" role="tab" id="templateHeading">
                <div class="listHeader">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#templateHeading" href="#templateBody">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            PLACEHOLDER
                        </a>
                    </h4>
                    <div id="templateContainerDownloadInfo" class="downloadInfoContainer">
                        <!-- Container for any information that should be displayed to the user on the right side. -->
                        <div id="templateContainerDownloadInfoText" hidden="hidden">
                            <div class="listHeader">
                                <div style="vertical-align:middle" class="infoTextContainer">PLACEHOLDER</div>
                                <div>
                                    <img src="~/images/loading.gif" class="pull-right loadingGif" />
                                </div>
                            </div>
                            </div>
                        <div id="templateContainerDownloadInfoButtonDownload" hidden="hidden">
                            <a href="#" class="btn btn-primary btn-sm" style="color:white">Download as .zip</a>
                        </div>
                        <form method="post" action=".?handler=deleteTask">
                            @Html.AntiForgeryToken()

                            <button type="submit" class="btn btn-danger pull-right downloadDeleteButton" name="RemoveTaskId" value="">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="templateBody" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <ul class="list-group">
                        <!-- TemplateFileSubEntries can be added here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- TemplateSubEntries -->
    <ul hidden="hidden">
        <li class="list-group-item" id="templateFileSubEntry">
            <div class="fileSubEntry">
                <span>PLACEHOLDER</span>
                <div id="templateContainerDownloadInfoText" hidden="hidden">
                    <div class="listHeader">
                        <div style="vertical-align:middle" class="infoTextContainer">PLACEHOLDER</div>
                        <img src="~/images/loading.gif" class="pull-right loadingGif" />
                    </div>
                </div>
                <div id="templateContainerDownloadInfoProgress" class="downloadInfoProgress" hidden="hidden">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:1%;">1%</div>
                    </div>
                </div>
                <div id="templateContainerDownloadInfoButtonDownload" hidden="hidden">
                    <a href="#" class="btn btn-primary btn-sm" style="color:white">Download</a>
                </div>
            </div>
        </li>
    </ul>
</div>